<!-- your html code here -->


<div class="row ">
  <div class="col-md-3 offset-md-1 justify-content-center">
    <img src="designs/2.jpg" class="img-fluid rounded-circle float-end">
  </div>
  <div class="col-md-7">
    <h1 class="fw-bold fs-4" class="display-6">
      The Second Heading
      <small class="text-muted"> Is Pretty Cool Too </small>
    </h1>
    <p class="lead fs-6">Domec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis
      euismod semper. Praesent commodo cursus magna, vel sceleresqui nisl consectetur Fusce dapibus, tellus ac
      cursus commodo.</p>
  </div>

</div>
